.landingPage {
  margin: 0 0;
  padding: 0 0;
  height: 100%;
  width: 100%;
  
  background: linear-gradient(315deg, #c4a4c4, #ffffff, #929292, rgba(207, 252, 242, 1), 
   #929292, #ffffff,rgb(255, 235, 191), #929292, #ffffff, 
   rgb(206, 178, 220), #ffffff, #929292, rgb(152, 255, 173),
  #929292, #ffffff, rgb(220, 178, 178), #ffffff, #929292);
  background-size: 4200% 4200%;

  -webkit-animation: AnimationName 100s ease infinite;
  -moz-animation: AnimationName 100s ease infinite;
  animation: AnimationName 100s ease infinite;


}

#trianglify-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@keyframes AnimationName {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
/* .landingPage {
  background-image: url('./media/graytriangles.jpg');
  background-size: 200%;
  animation: animate 120s linear infinite;
  width: 100vw;
  height: 100vh;
}


.freeWebStyles {
  font-family: helvetica;
  font-weight: bold;
  font-size: 200px;
  padding: 0;
  margin: 0;
  /* background: url('./code.jpeg'); */
  /* -webkit-text-fill-color: transparent;
  color: lightgreen;
  -webkit-background-clip: text;
  /* /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: green;  */
  /* animation: animate 120s linear infinite;
  background-size: 200%; */ 

/* 
@keyframes animate {
  0% {
    background-position: -200% -0%;
  }
  100% {
    background-position: 200% 150%;
  }
}

@keyframes animateReverse {
  0% {
    background-position: 200% 150%;
  }
  100% {
    background-position: -200% -150%;
  }
} */ 
/* 
.background {
  width: 100vw;
  height: 100vh;
  background: #3E1E68;
}

$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #583C87,
    #E45A84,
    #FFACAC
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
} */