/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poiret+One&display=swap'); */

/* If font's are broken uncomment them. I'm trying to add them to app.css to make them universal imports */

.landingPage {
    position: relative;
    top: 0;
    margin: 0 0;
    padding: 0 0;
    min-height: 100vh;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
  /*   
    background: linear-gradient(315deg, #c4a4c4, #ffffff, #929292, rgba(207, 252, 242, 1), 
     #929292, #ffffff,rgb(255, 235, 191), #929292, #ffffff, 
     rgb(206, 178, 220), #ffffff, #929292, rgb(152, 255, 173),
    #929292, #ffffff, rgb(220, 178, 178), #ffffff, #929292);
    background-size: 4200% 4200%; */
  /* 
    /* -webkit-animation: AnimationName 50s ease infinite;
    -moz-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite; */ 
  
    font-family: Roboto;
    font-size: 20px;
  }
  
  #trianglify-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    /* transform: skew(60deg, -20deg) scaleX(1.4); */
  }
  
  
  

    .LogInPanel {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
  }
  
  @keyframes animateReverse {
    0% {
      background-position: 200% 150%;
    }
    100% {
      background-position: -200% -150%;
    }
  } 